<div class="row">

    <div class="col-3">

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Instancia en la que se otrogo el Poder" name="instanciaPoder" [(ngModel)]="selectInstancia">
                <mat-option *ngFor="let instancia of instituciones" value="{{ instancia.prm_id }}">
                    {{ instancia.prm_nemonico }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="col-7">

        <mat-form-field class="example-full-width">
            <mat-label>Espeficique instancia de otorgamiento</mat-label>
            <textarea matInput #input maxlength="300" rows="5" cols="40" placeholder="Especifique"></textarea>
            <mat-hint align="end">{{input.value?.length || 0}}/300</mat-hint>
        </mat-form-field>

    </div>

</div>